{% extends "wrapper.html" %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">

<!-- График --><div id="chart">

<script>
 $(function () {
 $("#chart").shieldChart({
 theme: "light",
 exportOptions: {
 image: false,
 print: false
 },
 axisX: {
 categoricalValues: ['Минск', 'Брест', 'Гродно', 'Гомель', 'Витебск', 'Могилев']
 },
 axisY: {
 axisTickText: {
 format: "{text}"
 },
 title: {
 text: "Курс USD(в BYR)"
 }
 },
 tooltipSettings: {
 chartBound: true
 },
 seriesSettings: {
 line: {
 enablePointSelection: true,
 pointMark: {
 activeSettings: {
 pointSelectedState: {
 drawWidth: 4,
 drawRadius: 4
 }
 }
 }
 }
 },
 primaryHeader: {
 text: "Курс Беларусбанка покупки и продажи доллара в областных городах"
 },
 dataSeries: [{
 seriesType: 'line',
 collectionAlias: 'Покупка USD',
 data: [2.155, 2.15, 2.145, 2.145, 2.14, 2.144]
 }, {
 seriesType: 'line',
 collectionAlias: 'Продажа USD',
 data: [2.173, 2.168, 2.167, 2.185, 2.177, 2.179]
 }]
 });
 });
 </script><!-- /.График -->

</div>
</div><!-- /.col-md-8 col-md-offset-2 -->
</div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
