<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="../../static/appmain/img/Mini.ico" type="image/x-icon">
    <title>MetaBank</title>
  </head>

  <body>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link type="text/css" rel="StyleSheet" href="http://bootstraptema.ru/plugins/2016/shieldui/style.css" />
	<script src="http://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

   <!-- Панель навигации -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MetaBank</a>
        </div>

 
    <!-- Group the nav links, forms, drop-down menus and other elements for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="../../">Home</a></li>
        <li><a href="../../rate/">Exchange rate</a></li>
        <li><a href="../../news/">News</a></li>
        <li><a href="../../show_money/">My Transactions</a></li>
        <li><a href="../../map/">ATMs in map</a></li>
      </ul>
        <form class="navbar-form navbar-right">
            <input type="button" class="btn btn-success" value="Log in" onClick='location.href="../../reg/log_in/"'>
            <input type="button" class="btn btn-primary" value="Register on" onClick='location.href="../../reg/"'>
            <input type="button" class="btn btn-active" value="Log out" onClick='location.href="../../reg/log_out/"'>
        </form>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  	<div class="jumbotron">
  		<div class="container">
		 <h3>This project is my first web project. It builds on the Django technology in backend and Bootstrap technology in frontend.
             Project has 6 applications: main, map, news, mytransactions, registration and rate. ATM (it's just a name, because it's
             more like with internet-banking) use sqlite3 database and 2 models, 2 form in it.
             The first model is overrided standart User model (was added IntegerField for cash and some methods). The second is article model for news.
             Form is based on the user model. There are 3 APIs in this project: 2 Belarusbank (location of the ATMs and
             rate in reqional towns) and 1 Yandex (map of Belarus).
         </h3>
		</div>
  	</div>
    {% block content %}

    {% endblock %}
  <br><br><br><br><br><br><br>
    <div class="container">
        <footer><p>© 2019 Degrijo Inc.</p></footer>
    </div>
  </body>
</html>