<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/appmain/css/bootstrap.min.css">
     <link rel="shortcut icon" href="../../static/appmain/img/Mini.ico" type="image/x-icon">
    <title>MetaBank</title>
  </head>

 <body>
  <div class="container-fluid">
   <br>
   <!-- Панель навигации -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-top">
    <a href="#" class="navbar-brand">MetaBank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <a href="../" class="nav-link">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <a href="../news/" class="nav-link">News<span class="sr-only">(current)</span></a>
      </li>
         <li class="nav-item">
       <a href="../mytransactions/" class="nav-link">My Transactions<span class="sr-only">(current)</span></a>
      </li>
          <li class="nav-item">
       <a href="../money/" class="nav-link">Courses of money<span class="sr-only">(current)</span></a>
      </li>
         <li class="nav-item">
       <a href="../link/" class="nav-link">Link<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
       <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="#" class="dropdown-item">Action</a>
        <a href="#" class="dropdown-item">Another action</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">Something else here</a>
       </div>
      </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
      <input type="search" class="form-control mr-sm-2" placeholder="" aria-label="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
     </form>
    </div>
   </nav>

   <!-- Конец панели навигации -->

   <!-- Джумботрон -->

   <div class="jumbotron">
      <h1 class="display-4">Привет, мир!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis minus ratione iure id nisi laborum architecto sit quibusdam commodi, quidem itaque ea ad in, doloremque voluptatem nesciunt labore ipsa cumque dignissimos minima. Modi illo nobis ducimus reiciendis ipsum itaque voluptatum error hic ex, fuga, dolore ad fugiat laboriosam. Optio, ipsum?</p>
      <hr class="my-4">
      <p>Использются служебные классы для типографики и расстояния содержимого в контейнере большего размера.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a>
      </p>
   </div>
 <!-- Конец джумботрона -->
      {% block content %}

      {% endblock %}


   <!-- Карточки -->

 <!--  <div class="row">
      <div class="col-sm-4">
        <div class="card">
           <div class="card-body">
             <h5 class="card-title">Специальный заголовок</h5>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
           </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
           <div class="card-body">
             <h5 class="card-title">Специальный заголовок</h5>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
           </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
           <div class="card-body">
             <h5 class="card-title">Специальный заголовок</h5>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
           </div>
        </div>
      </div>
   </div>
-->
   <!-- Конец карточек -->

   <hr class="my-4">
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../../static/appmain/js/bootstrap.min.js"></script>
  </body>
</html>﻿
