{% extends "appmain/wrapper.html" %}

{% block content %}
<div class="col-sm-2">
    <ul class="nav nav-left">
        <li class="active"><a href="../crediting_yourself">Сrediting yourself</a></li>
        <li class="active"><a href="#">Money transfer</a></li>
        <li class="active"><a href="../">Show cash</a></li>
    </ul>
</div>
<div class="col-sm-10">
    <form class="form-horizontal" action="/show_money/money_transfer/submit_transfer" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2">ID:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" placeholder="Enter id" name="id">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Cash:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" placeholder="Enter cash" name="money">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    {% block small_content %}

    {% endblock %}
</div>
{% endblock %}
